<div class="centering">
    <div class="gameBoard">
        <button class="boardSquare gameButton" style="grid-area: 1 / 1;">@GetTilePieceText(0, 0)</button>
        <button class="boardSquare gameButton" style="grid-area: 1 / 2;">@GetTilePieceText(1, 0)</button>
        <button class="boardSquare gameButton" style="grid-area: 1 / 3;">@GetTilePieceText(2, 0)</button>
        <button class="boardSquare gameButton" style="grid-area: 1 / 4;">@GetTilePieceText(3, 0)</button>
        <button class="boardSquare gameButton" style="grid-area: 1 / 5;">@GetTilePieceText(4, 0)</button>
        <button class="boardSquare gameButton" style="grid-area: 1 / 6;">@GetTilePieceText(5, 0)</button>
        <button class="boardSquare gameButton" style="grid-area: 1 / 7;">@GetTilePieceText(6, 0)</button>
        <button class="boardSquare gameButton" style="grid-area: 1 / 8;">@GetTilePieceText(7, 0)</button>

        <button class="boardSquare gameButton" style="grid-area: 2 / 1;">@GetTilePieceText(0, 1)</button>
        <button class="boardSquare gameButton" style="grid-area: 2 / 2;">@GetTilePieceText(1, 1)</button>
        <button class="boardSquare gameButton" style="grid-area: 2 / 3;">@GetTilePieceText(2, 1)</button>
        <button class="boardSquare gameButton" style="grid-area: 2 / 4;">@GetTilePieceText(3, 1)</button>
        <button class="boardSquare gameButton" style="grid-area: 2 / 5;">@GetTilePieceText(4, 1)</button>
        <button class="boardSquare gameButton" style="grid-area: 2 / 6;">@GetTilePieceText(5, 1)</button>
        <button class="boardSquare gameButton" style="grid-area: 2 / 7;">@GetTilePieceText(6, 1)</button>
        <button class="boardSquare gameButton" style="grid-area: 2 / 8;">@GetTilePieceText(7, 1)</button>

        <button class="boardSquare gameButton" style="grid-area: 3 / 1;">@GetTilePieceText(0, 2)</button>
        <button class="boardSquare gameButton" style="grid-area: 3 / 2;">@GetTilePieceText(1, 2)</button>
        <button class="boardSquare gameButton" style="grid-area: 3 / 3;">@GetTilePieceText(2, 2)</button>
        <button class="boardSquare gameButton" style="grid-area: 3 / 4;">@GetTilePieceText(3, 2)</button>
        <button class="boardSquare gameButton" style="grid-area: 3 / 5;">@GetTilePieceText(4, 2)</button>
        <button class="boardSquare gameButton" style="grid-area: 3 / 6;">@GetTilePieceText(5, 2)</button>
        <button class="boardSquare gameButton" style="grid-area: 3 / 7;">@GetTilePieceText(6, 2)</button>
        <button class="boardSquare gameButton" style="grid-area: 3 / 8;">@GetTilePieceText(7, 2)</button>

        <button class="boardSquare gameButton" style="grid-area: 4 / 1;">@GetTilePieceText(0, 3)</button>
        <button class="boardSquare gameButton" style="grid-area: 4 / 2;">@GetTilePieceText(1, 3)</button>
        <button class="boardSquare gameButton" style="grid-area: 4 / 3;">@GetTilePieceText(2, 3)</button>
        <button class="boardSquare gameButton" style="grid-area: 4 / 4;">@GetTilePieceText(3, 3)</button>
        <button class="boardSquare gameButton" style="grid-area: 4 / 5;">@GetTilePieceText(4, 3)</button>
        <button class="boardSquare gameButton" style="grid-area: 4 / 6;">@GetTilePieceText(5, 3)</button>
        <button class="boardSquare gameButton" style="grid-area: 4 / 7;">@GetTilePieceText(6, 3)</button>
        <button class="boardSquare gameButton" style="grid-area: 4 / 8;">@GetTilePieceText(7, 3)</button>

        <button class="boardSquare gameButton" style="grid-area: 5 / 1;">@GetTilePieceText(0, 4)</button>
        <button class="boardSquare gameButton" style="grid-area: 5 / 2;">@GetTilePieceText(1, 4)</button>
        <button class="boardSquare gameButton" style="grid-area: 5 / 3;">@GetTilePieceText(2, 4)</button>
        <button class="boardSquare gameButton" style="grid-area: 5 / 4;">@GetTilePieceText(3, 4)</button>
        <button class="boardSquare gameButton" style="grid-area: 5 / 5;">@GetTilePieceText(4, 4)</button>
        <button class="boardSquare gameButton" style="grid-area: 5 / 6;">@GetTilePieceText(5, 4)</button>
        <button class="boardSquare gameButton" style="grid-area: 5 / 7;">@GetTilePieceText(6, 4)</button>
        <button class="boardSquare gameButton" style="grid-area: 5 / 8;">@GetTilePieceText(7, 4)</button>

        <button class="boardSquare gameButton" style="grid-area: 6 / 1;">@GetTilePieceText(0, 5)</button>
        <button class="boardSquare gameButton" style="grid-area: 6 / 2;">@GetTilePieceText(1, 5)</button>
        <button class="boardSquare gameButton" style="grid-area: 6 / 3;">@GetTilePieceText(2, 5)</button>
        <button class="boardSquare gameButton" style="grid-area: 6 / 4;">@GetTilePieceText(3, 5)</button>
        <button class="boardSquare gameButton" style="grid-area: 6 / 5;">@GetTilePieceText(4, 5)</button>
        <button class="boardSquare gameButton" style="grid-area: 6 / 6;">@GetTilePieceText(5, 5)</button>
        <button class="boardSquare gameButton" style="grid-area: 6 / 7;">@GetTilePieceText(6, 5)</button>
        <button class="boardSquare gameButton" style="grid-area: 6 / 8;">@GetTilePieceText(7, 5)</button>

        <button class="boardSquare gameButton" style="grid-area: 7 / 1;">@GetTilePieceText(0, 6)</button>
        <button class="boardSquare gameButton" style="grid-area: 7 / 2;">@GetTilePieceText(1, 6)</button>
        <button class="boardSquare gameButton" style="grid-area: 7 / 3;">@GetTilePieceText(2, 6)</button>
        <button class="boardSquare gameButton" style="grid-area: 7 / 4;">@GetTilePieceText(3, 6)</button>
        <button class="boardSquare gameButton" style="grid-area: 7 / 5;">@GetTilePieceText(4, 6)</button>
        <button class="boardSquare gameButton" style="grid-area: 7 / 6;">@GetTilePieceText(5, 6)</button>
        <button class="boardSquare gameButton" style="grid-area: 7 / 7;">@GetTilePieceText(6, 6)</button>
        <button class="boardSquare gameButton" style="grid-area: 7 / 8;">@GetTilePieceText(7, 6)</button>

        <button class="boardSquare gameButton" style="grid-area: 8 / 1;">@GetTilePieceText(0, 7)</button>
        <button class="boardSquare gameButton" style="grid-area: 8 / 2;">@GetTilePieceText(1, 7)</button>
        <button class="boardSquare gameButton" style="grid-area: 8 / 3;">@GetTilePieceText(2, 7)</button>
        <button class="boardSquare gameButton" style="grid-area: 8 / 4;">@GetTilePieceText(3, 7)</button>
        <button class="boardSquare gameButton" style="grid-area: 8 / 5;">@GetTilePieceText(4, 7)</button>
        <button class="boardSquare gameButton" style="grid-area: 8 / 6;">@GetTilePieceText(5, 7)</button>
        <button class="boardSquare gameButton" style="grid-area: 8 / 7;">@GetTilePieceText(6, 7)</button>
        <button class="boardSquare gameButton" style="grid-area: 8 / 8;">@GetTilePieceText(7, 7)</button>
    </div>
</div>

@code {
    [AllowNull]
    private ChessGame Game;
    private Player? WinningPlayer = null;
    private bool NeedToRender = true;

    protected override bool ShouldRender()
    {
        bool render = NeedToRender;
        NeedToRender = false;
        return render;
    }

    protected override Task OnParametersSetAsync()
    {
        CreateNewGame();

        return base.OnParametersSetAsync();
    }

    private void CreateNewGame()
    {
        Game = new ChessGame();
        //Game.OnGameOver += winner =>
        //{
        //    WinningPlayer = winner;
        //    NeedToRender = true;
        //    StateHasChanged();   
        //};
        WinningPlayer = null;
        NeedToRender = true;
        StateHasChanged();
    }

    private string GetTilePieceText(int x, int y) => Game.GetTilePiece(x, y) switch
    {
        null => string.Empty,
        Pawn => "P",
        Rook => "R",
        Knight => "K",
        Bishop => "B",
        King => "K",
        Queen => "Q",
        _ => throw new ArgumentOutOfRangeException()
    };
}
